.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.modal-header .close {
    color: red;
    background: none;
    border: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    font-size: 0; /* Remove the text/character */
}

.modal-header .close:hover {
    opacity: 1;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    gap: 2rem;
    margin-top: 2rem; /* Adds space between buttons */
}